
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>consumer_key</key>
        <string>m6IdzzP4vwj1TjSLzboLYabGq</string>
        <key>consumer_secret</key>
        <string>X7O3rpqhQZP1WOmSVvMCgD5FnuV2xtN2WCUU2Dr8Oew74kmZz7</string>
    </dict>
</plist>
